@font-face {
    font-family: LatoRegular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: GilroyLight;
    src: url(../fonts/Gilroy-Light.otf);
}

@font-face {
    font-family: GilroyExtraBold;
    src: url(../fonts/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: MuseoSansThin;
    src: url(../fonts/MuseoSansCyrl_100.otf);
}

@font-face {
    font-family: MuseoSansSemiNormal;
    src: url(../fonts/MuseoSansCyrl_300.otf);
}

@font-face {
    font-family: MuseoSansNormal;
    src: url(../fonts/MuseoSansCyrl_500.otf);
}

@font-face {
    font-family: MuseoSansBold;
    src: url(../fonts/MuseoSansCyrl_900.otf);
}

@font-face {
    font-family: MuseoSansSemibold;
    src: url(../fonts/MuseoSansCyrl_700.otf);
}